* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;

}

body {
  background: linear-gradient(180deg, rgba(137, 94, 162, 1) 5%, rgba(197, 168, 218, 1) 40%, rgba(255, 255, 255, 1) 69%, rgba(97, 226, 192, 1) 88%);
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* row-gap: 20px; */
}

h1{
  margin-bottom: 20px;
}
header{
  margin-bottom: 50px;
}
header p{
  font-weight: bold;
}
#resultado_esperado{
  display: flex;
  gap:20px;
}

fieldset {
  padding: 10px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  border: 1px solid;}

label {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}


#botao_verificar {
  text-transform: uppercase;
  padding: 15px;
  cursor: pointer;
}

#resultadoEsperado {
  background-color: red;
  display: flex;
  gap: 20px;
}