body{
  background: linear-gradient(180deg, rgba(137,94,162,1) 5%, rgba(197,168,218,1) 40%, rgba(255,255,255,1) 69%, rgba(97,226,192,1) 88%);
  background-size: cover;
  height: 50vw;
}

label {
  display: block;
}

input {
  margin: 8px;
}
h1{
  text-align: center;
  text-transform: uppercase;
  font-family:sans-serif;
}